NEXTAUTH_SECRET=
NEXTAUTH_URL=https://fordms.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
INSTRUCTOR_EMAILS=msanfilippo4@fordham.edu
